.color{
    &__input{
        display: none;
    }
    &__input:checked + &--check{
        position: absolute;
        inset: 0;
        display: block;
        border: 1px solid $grey;
        border-radius: 50%
    }
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    display: block;
    &::after{
        //todo content: attr() - for color change! 
        //? got it ? 
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 11px;
        height: 11px;
        border: 1px solid $second-color;
        border-radius: 50%;
    }
    @include laptop{
        cursor: pointer;
        &:hover{
            border: 0.4px solid #929292;
        }
    }
    &--check{
        border: 0.4px solid #929292;
    }
}