.goods{
	&__title{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: $main-color;
        border-bottom: 1px solid $light-grey;
        padding-bottom: 9px;
        @include tablet{
            font-size: 24px;
            line-height: 29px;
            padding-bottom: 16px;
        }
        @include laptop{
            font-size: 32px;
            line-height: 39px;
            padding-bottom: 25px;
        }
    }

	&__list{
        display: grid;
        gap: 16px 10px;
        padding-top: 16px;
        grid-template-columns: repeat(auto-fill, 140px);
        @include tablet{
            gap: 24px 20px;
            padding-top: 24px;
        }
        @include laptop{
            grid-template-columns: repeat(auto-fill, 280px);
            gap: 40px 20px;
            padding-top: 40px;
            justify-content: space-evenly;
        }
        @include desktop{
            gap: 40px 20px;
            padding-top: 40px;
        }
    }

	&__pagination{
        margin-top: 13px;
    }
    &__warning{
        text-align: center;
        padding-top: 16px;
        color: tomato;
    }
}