.navigation{
    margin-bottom: 19px;
    @include tablet{
        margin-bottom: 24px;
    }
    @include laptop{
        margin-bottom: 28px;
    }
    @include desktop{
        margin-bottom: 31px;
    }
}